<label for={{concat elementId '-textarea'}} class="embric-control-main-label">{{name}}</label>
<div class="embric-control-input">
  {{textarea value=json rows=rows cols=cols disabled=disabled id=(concat elementId "-textarea")}}
</div>
<div class="embric-control-control">
  <button {{action 'getJSON'}} class="get-json-button">Get</button>
  <button {{action 'setJSON'}} class="set-json-button">Set</button>
</div>
