<h2 id="title">Embric Demo</h2>
{{#embric-editor as |editor| }}
  <h2 class="subdued">Editor</h2>
  {{fabric-canvas width=800 height=300 editor=editor }}
  <div class="editor-controls-panel">
    <h3 class="subdued">Controls</h3>
    <div class="control-column">
      {{embric-fill-stroke-editor editor=editor}}
      {{embric-fill-stroke-editor editor=editor name='Test Sync'}}
      {{embric-basic-shapes-widget editor=editor}}
      {{embric-static-text-editor editor=editor}}
    </div>
    <div class="control-column">
      {{embric-group-editor editor=editor}}
      {{embric-duplicate-selection editor=editor}}
      {{embric-delete-selection editor=editor}}
      {{embric-zindex-editor editor=editor}}
    </div>
    <div class="control-column">
      {{embric-json-loader editor=editor json=model.startJSON}}
    </div>
  </div>
{{/embric-editor}}
{{outlet}}

